@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --main-color: white;
  --secondary-color: goldenrod;
  --dark-color: black;
}

body {
  background-color: var(--dark-color);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--secondary-color);
}

header p {
  margin: 0;
  padding: 1em 0;
  display: flex;
  justify-content: center;
}